:root {
  --primary-1: #8B7375;
  --primary-2: #2A2627;
  --primary-3: #CEA38B;
  --primary-4: #101016;
  --primary-5: #A8594E;
  --primary-6: #384722;
  --primary-7: #6B793F;
  --primary-8: #3C4616;
  --primary-9: #0D1506;
  --primary-10: #1A3112;

  --background: var(--primary-4); /* default dark background */
  --foreground: var(--primary-1); /* default text color */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

