@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.clear-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;  
  height: 100%;  
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%); 
  z-index: 2;  
  text-align: center;
  color: var(--primary-1);
}

.hero-text h1 {
  font-family: "Tangerine", cursive;
  font-size: 13rem;
  margin-bottom: 15px;
  color: rgb(242, 214, 214);
}

.hero-text p {
  font-family: "Tangerine", cursive;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: rgb(242, 214, 214);
}

.get-started {
  font-family: "Tangerine", cursive;
  font-size: 2rem;
  color: rgb(242, 214, 214);
  cursor: pointer;
  text-decoration: none;
  
  border: 1px solid white;       
  background-color: transparent; 
  padding: 0.5rem 2.5rem 0.5rem 2rem;         
  border-radius: 10px;           
  transition: opacity 0.2s, background-color 0.2s;
}

.get-started:hover {
  opacity: 0.9;                  
  background-color: rgba(255, 255, 255, 0.1); 
}
