@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px 50px;
  background: transparent;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  font-family: "Tangerine", cursive;
  color: rgb(242, 214, 214);
  font-size: 2rem;
  transition: opacity 0.2s;
}

.navbar ul li a:hover {
  opacity: 0.7;
}
